*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
   /* filter: alpha(opacity=98);
    -moz-opacity:.98; opacity: .98; cambiar opacidad (explicado por el pepe)*/
}
section{
   /* background-image: url(fondo.svg); (fondo externo)*/
    /*background-size: cover; (para que el fondo se adapte a todo lo q se ve) */
    background-color: rgb(157, 214, 237);
    min-height: 100vh;
}

.tamañofoto{
    width: 600px;
    margin: auto;   
}

.lugarfoto{
    text-align: center;
    padding-top: 3rem;
}

.alinearnavbar{
    text-align: center;
    padding: 0;
    padding-top: 7rem;

}

.footerestilo{
    display: inline;
    color: #444;
    padding: 1.5%;
    

}

.footerestilo a{
    font-weight: bold;
    text-decoration: none;
    color: #444; 
    font-size: 20px; 
     
}
.footerestilo a:hover{

    transition: all 0.2s;
    color: rgb(125, 123, 123); 
    
}